# Application
NEXT_PUBLIC_APP_NAME="fps-manager"
NEXT_PUBLIC_APP_URL=http://localhost:3000
# MONGODB
MONGODB_URI=mongodb://localhost:27017/dbname
# Authentication
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=